TestSecureAuthSvc/Service References/SecureAuthProfileSvc/appliance.gosecureauth.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://appliance.gosecureauth.com" elementFormDefault="qualified" targetNamespace="http://appliance.gosecureauth.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/SecureAuth.ServiceModel" />
  <xs:element name="ReadProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SecureAuth.ServiceModel" minOccurs="0" name="ReadProfileResult" nillable="true" type="q1:ArrayOfUserProfileProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SecureAuth.ServiceModel" minOccurs="0" name="userProfileProperties" nillable="true" type="q2:ArrayOfUserProfileProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOATHProvisionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOATHProvisionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SecureAuth.ServiceModel" minOccurs="0" name="ReadOATHProvisionDataResult" nillable="true" type="q3:ArrayOfOATHProvisionProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOATHProvisionDataByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOATHProvisionDataByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SecureAuth.ServiceModel" minOccurs="0" name="ReadOATHProvisionDataByUserNameResult" nillable="true" type="q4:ArrayOfOATHProvisionProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateCredentialsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>