SecureAuthWebServiceDemoTests/Service References/ProfileService/SecureAuth.ServiceModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureAuth.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureAuth.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserProfileProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProfileProperty" nillable="true" type="tns:UserProfileProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProfileProperty" nillable="true" type="tns:ArrayOfUserProfileProperty" />
  <xs:complexType name="UserProfileProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileProperty" nillable="true" type="tns:UserProfileProperty" />
  <xs:complexType name="ArrayOfOATHProvisionProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OATHProvisionProperty" nillable="true" type="tns:OATHProvisionProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOATHProvisionProperty" nillable="true" type="tns:ArrayOfOATHProvisionProperty" />
  <xs:complexType name="OATHProvisionProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OATHProvisionProperty" nillable="true" type="tns:OATHProvisionProperty" />
</xs:schema>