Acr.Security.AcrIdTool/Service References/SecureAuth/appliance.gosecureauth.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://appliance.gosecureauth.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://appliance.gosecureauth.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://appliance.gosecureauth.com/Imports">
      <xsd:import namespace="http://appliance.gosecureauth.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SecureAuth.ServiceModel" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfile_ReadProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadProfile" />
  </wsdl:message>
  <wsdl:message name="IProfile_ReadProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_SaveProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProfile" />
  </wsdl:message>
  <wsdl:message name="IProfile_SaveProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_ReadOATHProvisionData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadOATHProvisionData" />
  </wsdl:message>
  <wsdl:message name="IProfile_ReadOATHProvisionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadOATHProvisionDataResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_ReadOATHProvisionDataByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadOATHProvisionDataByUserName" />
  </wsdl:message>
  <wsdl:message name="IProfile_ReadOATHProvisionDataByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadOATHProvisionDataByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IProfile_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_ValidateCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCredentials" />
  </wsdl:message>
  <wsdl:message name="IProfile_ValidateCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCredentialsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfile">
    <wsdl:operation name="ReadProfile">
      <wsdl:input wsaw:Action="http://appliance.gosecureauth.com/IProfile/ReadProfile" message="tns:IProfile_ReadProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://appliance.gosecureauth.com/IProfile/ReadProfileResponse" message="tns:IProfile_ReadProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProfile">
      <wsdl:input wsaw:Action="http://appliance.gosecureauth.com/IProfile/SaveProfile" message="tns:IProfile_SaveProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://appliance.gosecureauth.com/IProfile/SaveProfileResponse" message="tns:IProfile_SaveProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadOATHProvisionData">
      <wsdl:input wsaw:Action="http://appliance.gosecureauth.com/IProfile/ReadOATHProvisionData" message="tns:IProfile_ReadOATHProvisionData_InputMessage" />
      <wsdl:output wsaw:Action="http://appliance.gosecureauth.com/IProfile/ReadOATHProvisionDataResponse" message="tns:IProfile_ReadOATHProvisionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadOATHProvisionDataByUserName">
      <wsdl:input wsaw:Action="http://appliance.gosecureauth.com/IProfile/ReadOATHProvisionDataByUserName" message="tns:IProfile_ReadOATHProvisionDataByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://appliance.gosecureauth.com/IProfile/ReadOATHProvisionDataByUserNameResponse" message="tns:IProfile_ReadOATHProvisionDataByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://appliance.gosecureauth.com/IProfile/Echo" message="tns:IProfile_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://appliance.gosecureauth.com/IProfile/EchoResponse" message="tns:IProfile_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCredentials">
      <wsdl:input wsaw:Action="http://appliance.gosecureauth.com/IProfile/ValidateCredentials" message="tns:IProfile_ValidateCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://appliance.gosecureauth.com/IProfile/ValidateCredentialsResponse" message="tns:IProfile_ValidateCredentials_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>